<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>song downloader</title>
    <link rel="stylesheet" href='/static/style.css'/>
</head>
<body>
    <h2>Scarica canzoni gratis dal nostro sito!</h2>
    <div id="form-container">
        <form method="post" action="/">
            <input type="text" id="inputField" name="inputField" placeholder="Inserire link canzone..." required>
            <input class="button" type="submit" value="scarica" name="scaricaBTN"/>
        </form>
    </div>
</body>
</html>
